*{
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
}
h2, p, label {
	margin-bottom: 20px;
}
p, label{
	display: block;
}

.hint, .congratulation
{
	width: 600px;
	height: 40px;
	border: 1px solid black;
	/*padding: 125px 50px 50px 50px;*/
	color: white;
	margin-bottom: 20px;
}
.hint
{
	background-color: red;
}

.congratulation
{
	background-color: green;
}
.playingAi{
	padding-top: 15%;
}

.exitButton{
	margin:auto;
	display:block;
}

.helpButton{
	position: fixed;
	left: 5%;
	bottom: 5%;
}

.exitButton {
	margin:auto;
	display:block;
	height:3em;
	width:8em;
	background-color: red;
	border-radius: .25rem;
	border-color: red;
	font-weight: bold;
}

.helpButton{
	position: fixed;
	left: 5%;
	bottom: 5%;
	border-radius: 50%;
	padding: 40px 40px;
	background-color: blue;
	border-color: blue;
	/*font-size: 20px;*/
	font-weight: bold;
}

.submitButton {

	margin:auto;
	display:block;
	height:4em;
	width:15em;
	background-color: greenyellow;
	border-radius: .25rem;
	border-color: greenyellow;
	font-weight: bold;
}


