<!--Start game from this-->

<!DOCTYPE html>
<html lang="en">
<body style="background: powderblue">
<link rel="stylesheet" href="../css/mainScreen.css">

<h1 class="welcome">Welcome to number guessing game</h1>

<form action="../../backEnd/userInformation.php" method="POST">
<button  type="submit" class="playButton"><b>PLAY</b></button><br>
</form>

<form action="../../backEnd/highScores.php" method="POST">
<button type="submit" class="scoreBoardButton"><b>SCOREBOARD</b></button><br>
</form>

<form action="../exit.html" method="POST">
    <button type="submit" class="exitButton"><b>EXIT</b></button><br>
</form>

<form action="../help.html" method="POST">
    <button style="position: fixed;
	left: 5%;
	bottom: 5%;
	border-radius: 50%;
	padding: 20px 30px;
	background-color: blue;
	border-color: blue;
	font-size: 40px;
	font-weight: bold;" type="submit" class="helpButton" ><b>?</b></button><br><b></b><br>
</form>

<form action="../authors.html" method="POST">
<button type="submit" class="authorsButton"><b>AUTHORS</b></button><br>
</form>

</body>
</html>









<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<body style="background: powderblue">-->
<!--<link rel="stylesheet" href="../../frontEnd/css/mainScreen.css">-->
<!--<link rel="stylesheet" href="../../frontEnd/css/pages.css">-->

<!--<h1 class="welcome">Welcome to number guessing game</h1>-->

<!--<form action="../../backEnd/userInformation.php" method="POST">-->
<!--    <button  type="submit" class="playButton"><b>PLAY</b></button><br>-->
<!--</form>-->

<!--<form action="../../backEnd/highScores.php" method="POST">-->
<!--    <button type="submit" class="scoreBoardButton"><b>SCOREBOARD</b></button><br>-->
<!--</form>-->

<!--<form action="../../frontEnd/exit.html" method="POST">-->
<!--    <button type="submit" class="exitButton"><b>EXIT</b></button><br>-->
<!--</form>-->
<!--<form action="../../frontEnd/help.html" method="POST">-->
<!--    <button type="submit" class="helpButton"><b>?</b></button><br>-->
<!--</form>-->
<!--<form action="../../frontEnd/authors.html" method="POST">-->
<!--    <button type="submit" class="authorsButton"><b>AUTHORS</b></button><br>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->