<!DOCTYPE html>
<html lang="en">
<header >
    <link rel='stylesheet' type='text/css' href='../../../nrgame/frontEnd/css/Pages.css'>
</header>
<body style="background: powderblue; text-align:center; padding-top: 15%;">
<form method="POST" action="../../../nrgame/index.php">
    {include file = '../../../nrgame/frontEnd/templates/game.html'}
    {include file = '../../../nrgame/frontEnd/templates/GameDown.html'}
    <input type="hidden" name="flowControl" value={$flowControl}>
</form>
</body>
</html>